@import 'tailwindcss';

@theme {
  /* 색상 */
  --color-gray-70: #161616;
  --color-gray-60: #383838;
  --color-gray-50: #707070;
  --color-gray-40: #9a9a9a;
  --color-gray-30: #d3d3d3;
  --color-gray-25: #ededed;
  --color-gray-20: #f1f1f1;
  --color-gray-10: #f6f6f6;

  --color-primary-light: #ffeb91;
  --color-primary: #fbd424;
  --color-primaryHover: #ffcc00;

  /* 폰트 크기 */
  --text-6xs: 9px;
  --text-5xs: 11px;
  --text-4xs: 13px;

  /* 최대 넓이 */
  --w-desktop: 1260px;

  /* 그림자 */
  --shadow-button: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  --shadow-input: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  --shadow-textarea: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;

  /* inset 보더 */
  --shadow-border-b: 0 -2px 0 0 #fbd424 inset;
}

@theme inline {
  --font-pretendard: var(--font-pretendard);
}

@utility hide-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility custom-scrollbar {
  @apply [&::-webkit-scrollbar]:w-2
   [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100
   [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300;
}

@layer base {
  :root {
    --color-current-mode: black;
  }

  .dark {
    --color-current-mode: white;
  }

  img {
    @apply inline-block;
  }

  .text-current-mode {
    color: var(--color-current-mode);
  }
}
